import.meta.env.VITE_API_URL
NODE_ENV=development

MONGODB_URI=mongodb+srv://Dhaaga_db:Dhaaga123@velostyle.jwzuv6q.mongodb.net/dhaaga?retryWrites=true&w=majority&appName=Velostyle
JWT_SECRET=supersecretjwtkey_replace_in_production
